$table-row-hover-background-color: #e2e2e2;

@import '_layout';
@import 'bulma';
@import 'font-awesome';

.navbar {
  display: block;
}

.navbar-end {
  display: flex;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.field {
  align-items: center;
}

.index-form {
  .label {
    margin-bottom: 0;
  }
}
