<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Calories Consumed Today</p>
      <p class="title"><%= @consumed %></p>
    </div>
  </div>

  <% if current_user.calorie_goal != 0 %>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Daily Calorie Goal</p>
        <p class="title"><%= current_user.calorie_goal %></p>
      </div>
    </div>
  <% end %>

  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Calories Burned Today</p>
      <p class="title"><%= @burned %></p>
    </div>
  </div>

  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Total Activities</p>
      <p class="title"><%= current_user.activity_counter %></p>
    </div>
  </div>
</div>