<% color = set_color(@consumed, current_user.calorie_goal) %>

<div class="block px-5">
  <progress class="progress <%= color %>" value="<%= @consumed %>" max="<%= current_user.calorie_goal %>"></progress>
</div>