<footer class="footer has-background-dark has-text-light">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <h2 class="title is-4 has-text-light">About Calorify</h2>
        <p>Calorify is an online calorie counter that helps you track your daily calorie intake and burn. Our goal is to make it easy for you to make healthier choices and achieve your fitness goals.</p>
      </div>
      <div class="column is-one-third">
        <h2 class="title is-4 has-text-light">Get in Touch</h2>
        <p>Have a question or feedback? We'd love to hear from you. You can reach us at:</p>
        <ul>
          <li>Email: contact@calorify.com</li>
          <li>Phone: (555) 555-5555</li>
        </ul>
      </div>
      <div class="column is-one-third">
        <h2 class="title is-4 has-text-light">Follow Us</h2>
        <p>Stay up-to-date with Calorify news and updates by following us on social media:</p>
        <ul class="social-icons is-flex">
          <li><a href="#"><i class="fab fa-facebook-f has-text-light"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter has-text-light mx-3"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram has-text-light"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
